{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square"
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="card-wrapper">
  <div class="card card--{{ settings.card_style }}">
    <div class="card__inner">
      {%- if card_product.featured_media -%}
        <div class="card__media">
          <div class="media media--{{ media_aspect_ratio | default: 'square' }}">
            <a href="{{ card_product.url }}">
              {{ card_product.featured_media | image_url: width: 600 | image_tag:
                loading: 'lazy',
                class: 'motion-reduce',
                sizes: '(min-width: 990px) 25vw, (min-width: 750px) 33vw, 50vw',
                widths: '165, 360, 535, 750, 1070, 1500'
              }}
              {%- if card_product.media[1] != null and show_secondary_image -%}
                {{ card_product.media[1] | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  class: 'motion-reduce card__media-hover',
                  sizes: '(min-width: 990px) 25vw, (min-width: 750px) 33vw, 50vw',
                  widths: '165, 360, 535, 750, 1070, 1500'
                }}
              {%- endif -%}
            </a>
          </div>
        </div>
      {%- else -%}
        <div class="card__media">
          <div class="media media--{{ media_aspect_ratio | default: 'square' }}">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        </div>
      {%- endif -%}

      <div class="card__content">
        <div class="card__information">
          {%- if show_vendor -%}
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            <div class="caption-with-letter-spacing light">{{ card_product.vendor }}</div>
          {%- endif -%}

          <h3 class="card__heading h5">
            <a href="{{ card_product.url }}" class="full-unstyled-link">
              {{ card_product.title | escape }}
            </a>
          </h3>

          <div class="card-information">
            <span class="caption-large light">{{ block.settings.description }}</span>
            <div class="price">
              {%- if card_product.price_varies -%}
                <span class="price-item price-item--regular">
                  {{ 'products.product.price.from_price_html' | t: price: card_product.price_min | money }}
                </span>
              {%- else -%}
                <span class="price-item price-item--regular">
                  {{ card_product.price | money }}
                </span>
                {%- if card_product.compare_at_price > card_product.price -%}
                  <span class="price-item price-item--regular">
                    <s>{{ card_product.compare_at_price | money }}</s>
                  </span>
                {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
