{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-product-grid.css' | asset_url | stylesheet_tag }}

<div class="section-{{ section.id }}-padding">
  <div class="page-width">
    {%- paginate collection.products by section.settings.products_per_page -%}
      {%- if collection.products.size == 0 -%}
        <div class="collection collection--empty">
          <p class="collection__empty-text">{{ 'templates.collection.empty' | t }}</p>
          <a href="{{ routes.all_products_collection_url }}" class="button">
            {{ 'sections.cart.continue_shopping' | t }}
          </a>
        </div>
      {%- else -%}
        <div class="collection">
          <div class="collection__filters">
            {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
              <div class="collection__filters-wrapper">
                {%- if section.settings.enable_sorting -%}
                  <div class="collection__sorting">
                    <label for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                    <select name="sort_by" id="SortBy" class="select__select">
                      <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
                      <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
                      <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
                      <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
                      <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
                      <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
                      <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
                      <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
                    </select>
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>

          <ul class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down" role="list">
            {%- for product in collection.products -%}
              <li class="grid__item">
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating
                %}
              </li>
            {%- endfor -%}
          </ul>

          {%- if paginate.pages > 1 -%}
            <div class="pagination-wrapper">
              {% render 'pagination', paginate: paginate %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
{
  "name": "Product grid",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "Products per page"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Number of columns on desktop"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show second image on hover"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show product rating"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "Enable filtering"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "Enable sorting"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Number of columns on mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ]
    }
  ]
}
{% endschema %}
